<script src="javascripts/angularApp.js"></script>

<div ng-app="demoapp">
    <!--
    <script>
        var app=angular.module("demoapp",['openlayers-directive']);
    </script>
    -->
    <openlayers width="100%" height="400px"></openlayers>
    <h1>Simple example</h1>
    <p> showing a simple map on your dom requires almost no code></p>
</div>
