<!DOCTYPE html>
<html>
  <head>
      <script src="libs/openlayer-dist/ol.js"></script>
      <script src="libs/angular.min.js"></script>
      <script src="libs/angular-sanitize/angular-sanitize.min.js"></script>
      <script src="libs/angular_openlayer/angular-openlayers-directive.min.js"></script>


      <!--<link rel="stylesheet" href="libs/angular_openlayer/angular-openlayers-directive.css"/> -->
      <link rel="stylesheet" href="libs/openlayer-dist/ol.css"/>

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
